process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'

    withName: makeData {
        executor 'sge'
        cores 1
        memory '64 GB'
        time '10h'
    }

    withName: estimatePCgraph {
        executor 'sge'
        cores 16
        memory '2 GB'
        time '140h'
    }

    withName: iterMCMCscheme {
    executor 'sge'
    cores 1
    memory '8 GB'
    time '8h'
    }

    withName: estimateCoups {
    executor 'sge'
    cores 12
    memory '4 GB'
    time '10h'
    }
}

executor {
    queueSize = 200
}
