
params{
    h5File = "${projectDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${projectDir}/cellData/clusters_20k.csv"
    doubletFile = "${projectDir}/cellData/bcDoublets_20k.csv"
    nGenes = 15
    nCells = 100
    report_dir = "${launchDir}/reports"
}



profiles {
    eddie {
        includeConfig 'eddie.config'
    }

    eddieTest {
        includeConfig 'eddieTest.config'
    }

    local {
        includeConfig 'local.config'
    }

}


report {
    enabled = true
    file = "${params.report_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.report_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.report_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.report_dir}/pipeline.svg"
}
