manifest {
    name = 'AJnsm/Stator'
    author = 'Abel Jansma'
    homePage = 'https://github.com/AJnsm/Stator'
    description = 'Stator: Inferring cell states from gene expression data.'
    mainScript = 'Stator.nf'
    nextflowVersion = '>=23.04'
    version = '1.1'
}

params {
    report_dir = "${launchDir}/reports"
    dataType = "agnostic"
    userGenes = null
    genesToOne = null
    doubletFile = null
    boundBool = 0
    asympBool = 0
    dataDups = 0
    estimationMethod = "expectations"
    fracMito = 1
    minGenes = 0
    minCells = 0
    PCalpha = 0.05
    estimationMode = "MFI"
    bsResamps = 1000
    nRandomHOIs = 1000
    plotPairwiseUpsets = 0
    sigHOIthreshold = 0.05
    minStateDeviation = 0
    stateDevAlpha = 1.0
    dendCutoff = -1
    auThreshold = 0.95
    bsResamps_HC = 100
}


profiles {
    eddie_singularity {
        includeConfig 'configs/eddie_singularity.config'
    }

    singularity {
        includeConfig 'configs/singularity.config'
    }
    
    docker {
        includeConfig 'configs/docker.config'
    }

    conda {
        includeConfig 'configs/conda.config'
    }
}


report {
    enabled = true
    overwrite = true
    file = "${params.report_dir}/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.report_dir}/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.report_dir}/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.report_dir}/pipeline.html"
}