
manifest {
    name = 'AJnsm/NF_TL_pipeline'
    author = 'Abel Jansma'
    homePage = 'https://github.com/AJnsm/NF_TL_pipeline'
    description = 'Estimating genetic interactions from scRNA-seq data.'
    mainScript = 'NF_TL_pipeline.nf'
    nextflowVersion = '20.10.0'
    version = '0.1'
}


params {
    dataType = '10X'
    rawDataPath = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"
    nGenes = 5
    nCells = 50
    report_dir = "${launchDir}/reports"
    coupCores = 6
    PCcores = 6
    PCalpha = 0.05
    bsResamps = 1000
    estimationMethod = "expectations"
}



profiles {
    eddie_conda {
        includeConfig 'configs/eddie_conda.config'
    }

    eddie_singularity {
        includeConfig 'configs/eddie_singularity.config'
    }

    eddieTest_conda {
        includeConfig 'configs/eddieTest_conda.config'
    }

    eddieTest_singularity {
        includeConfig 'configs/eddieTest_singularity.config'
    }

    local_conda {
        includeConfig 'configs/local_conda.config'
    }

    local_docker {
        includeConfig 'configs/local_docker.config'
    }

    local_singularity {
        includeConfig 'configs/local_singularity.config'
    }

    localEddie_conda {
        includeConfig 'configs/localEddie_conda.config'
    }

    singularity {
        includeConfig 'configs/singularity.config'
    }
    
    docker {
        includeConfig 'configs/docker.config'
    }

    conda {
        includeConfig 'configs/conda.config'
    }

    conda_eddie {
        includeConfig 'configs/conda_eddie.config'
    }

}


report {
    enabled = true
    file = "${params.report_dir}/report.html"
}

timeline {
    enabled = true
    file = "${params.report_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.report_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.report_dir}/pipeline.svg"
}
