process {


    withName: makeData {
        conda = '/Users/s1855283/anaconda3/envs/NF_TL_env'
    }

    withName: estimatePCgraph {
        conda = '/Users/s1855283/anaconda3/envs/rEnv'
    }

    withName: iterMCMCscheme {
        conda = '/Users/s1855283/anaconda3/envs/rEnv'
    }

    withName: estimateCoups {
        conda = '/Users/s1855283/anaconda3/envs/NF_TL_env'
    }
}