process {


    withName: makeData {
        conda = '/exports/igmm/eddie/ponting-lab/abel/myanaconda/envs/NF_TL_env'
    }

    withName: estimatePCgraph {
        conda = '/exports/igmm/eddie/ponting-lab/abel/myanaconda/envs/rEnv'
    }

    withName: iterMCMCscheme {
        conda = '/exports/igmm/eddie/ponting-lab/abel/myanaconda/envs/rEnv'
    }

    withName: estimateCoups {
        conda = '/exports/igmm/eddie/ponting-lab/abel/myanaconda/envs/NF_TL_env'
    }
}