process {


    withName: makeData {
        conda = '/Users/s1855283/anaconda3/envs/Stator_py_env'
    }

    withName: estimatePCgraph {
        conda = '/Users/s1855283/anaconda3/envs/rEnv'
    }

    withName: iterMCMCscheme {
        conda = '/Users/s1855283/anaconda3/envs/rEnv'
    }

    withName: estimateCoups_1pts {
        conda = '/Users/s1855283/anaconda3/envs/Stator_py_env'
    }

    withName: estimateCoups_2pts {
        conda = '/Users/s1855283/anaconda3/envs/Stator_py_env'
    }
}