process {
    
	withName: makeData {
        container = 'ajnsm/py_nf_container'
    }

    withName: estimatePCgraph {
        container = 'ajnsm/r_nf_container'
    }

    withName: iterMCMCscheme {
        container = 'ajnsm/r_nf_container'
    }

    withName: estimateCoups_1pts {
        container = 'ajnsm/py_nf_container'
    }

    withName: estimateCoups_2pts {
        container = 'ajnsm/py_nf_container'
    }

    withName: estimateCoups_3pts {
        container = 'ajnsm/py_nf_container'
    }


        
}

docker {
    enabled = true
    pullTimeout = '1h'
}
