process {

    withLabel: R {
        container = 'ajnsm/r_nf_container_new'
    }
    
    withLabel: python {
        container = 'ajnsm/py_nf_container_withplotlibs'
    }
}

docker {
    enabled = true
    docker.runOptions = '--platform linux/amd64'  // This tells Docker to use Rosetta 2 emulation
    pullTimeout = '1h'
}
