
params{
    rawData = "${launchDir}"
    clusterFile = "${launchDir}"
    doubletFile = "${launchDir}"
    PCcores = 6
    PCalpha=0.05
    coupCores = 6

    maxQueueSize = 25

    cores_makeData = 1
    cores_PC = 1
    cores_MCMC = 1
    cores_1pt = 1
    cores_2pt = 1
    cores_3pt = 1

    mem_makeData = "4G"
    mem_PC = "4G"
    mem_MCMC = "4G"
    mem_1pt = "4G"
    mem_2pt = "4G"
    mem_3pt = "4G"

    time_makeData = "1h"
    time_PC = "1h"
    time_MCMC = "1h"
    time_1pt = "1h"
    time_2pt = "1h"
    time_3pt = "1h"

}


process{
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    scratch = true

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load roslin/singularity/3.5.3
    # workaround to make non-sandbox mode work, SGE sets this variable
    # to the root user runtime directory, causing permission issues
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """


    withName: makeData { 
        executor = 'sge'
        cpus = params.cores_makeData
        memory = params.mem_makeData
        time = params.time_makeData
    }

    withName: estimatePCgraph { 
        executor = 'sge'
        penv = "sharedmem"
        cpus = params.cores_PC
        memory = params.mem_PC
        time = params.time_PC
    }

    withName: iterMCMCscheme {
        executor = 'sge'
        cpus = params.cores_MCMC
        memory = params.mem_MCMC
        time = params.time_MCMC
    }

    withLabel: 'interactionEstimation' {
        executor = 'sge'
        penv = "sharedmem"
    }

    withName: estimateCoups_1pts { 
        cpus = params.cores_1pt
        memory = params.mem_1pt
        time = params.time_1pt
    }

    withName: estimateCoups_2pts { 
        cpus = params.cores_2pt
        memory = params.mem_2pt
        time = params.time_2pt
    }

    withName: estimateCoups_3pts { 
        cpus = params.cores_3pt
        memory = params.mem_3pt
        time = params.time_3pt
    }

}

executor {
    queueSize = params.maxQueueSize
}

includeConfig 'singularity.config'