
params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"
}

process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'

    withName: makeData {
        conda = "${launchDir}/envYAMLs/NF_TL_env.yml"
        executor = 'sge'
        cpus = 1
        memory = '64 GB'
        time = '10m'
    }

    withName: estimatePCgraph {
        conda = "${launchDir}/envYAMLs/rEnv.yml"
        executor = 'sge'
        cpus = 16
        memory = '2 GB'
        time = '10m'
    }

    withName: iterMCMCscheme {
        conda = "${launchDir}/envYAMLs/rEnv.yml"
        executor = 'sge'
        cpus = 1
        memory = '8 GB'
        time = '5m'
    }

    withName: estimateCoups {
        conda = "${launchDir}/envYAMLs/NF_TL_env.yml"
        executor = 'sge'
        cpus = 12
        memory = '4 GB'
        time = '5m'
    }
}

executor {
    queueSize = 25
}
