
params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"
}

process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'

    withName: makeData { 
        executor = 'sge'
        cpus = 1
        memory = '16 GB'
        time = '10m'
    }

    withName: estimatePCgraph { 
        executor = 'sge'
        cpus = 16
        penv = "sharedmem"
        memory = '2 GB'
        time = '10m'
    }

    withName: iterMCMCscheme {
        executor = 'sge'
        cpus = 1
        memory = '8 GB'
        time = '5m'
    }

    withName: estimateCoups { 
        executor = 'sge'
        cpus = 12
        penv = "sharedmem"
        memory = '4 GB'
        time = '5m'
    }
}

executor {
    queueSize = 25
}

includeConfig 'conda.config'