
params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"
    PCcores = 8
    PCalpha=0.05
    coupCores = 6
}

process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    beforeScript = """
    . /etc/profile.d/modules.sh
    module load anaconda
    """

    withName: makeData { 
        executor = 'sge'
        cpus = 1
        memory = '32 GB'
        time = '10m'
    }

    withName: estimatePCgraph { 
        executor = 'sge'
        cpus = params.PCcores
        penv = "sharedmem"
        memory = '16 GB'
        time = '10m'
    }

    withName: iterMCMCscheme {
        executor = 'sge'
        cpus = 1
        memory = '8 GB'
        time = '10m'
    }

    withName: estimateCoups { 
        executor = 'sge'
        cpus = params.coupCores
        penv = "sharedmem"
        memory = '8 GB'
        time = '10m'
    }
}

executor {
    queueSize = 25
}

includeConfig 'conda_eddie.config'