
params{
    h5File = "${launchDir}/cellData/1M_neurons.h5"
    clusterFile = "${launchDir}/cellData/clusters.csv"
    PCcores = 12
    PCalpha = 0.05
    coupCores = 8
    nGenes = 500
    nCells = 2000
}

process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'

    withName: makeData { 
        executor = 'sge'
        cpus = 1
        memory = '128 GB'
        time = '10h'
    }

    withName: estimatePCgraph { 
        executor = 'sge'
        cpus = params.PCcores
        penv = "sharedmem"
        memory = '24 GB'
        time = '140h'
    }

    withName: iterMCMCscheme {
        executor = 'sge'
        cpus = 1
        memory = '8 GB'
        time = '8h'
    }

    withName: estimateCoups { 
        executor = 'sge'
        cpus = params.coupCores
        penv = "sharedmem"
        memory = '8 GB'
        time = '10h'
    }
}

executor {
    queueSize = 30
}

includeConfig 'conda_eddie.config'