
params{
    rawDataPath = "${launchDir}/cellData/ZeiselCells"
    clusterFile = "${launchDir}/cellData/clusters.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_1M.csv"
    PCcores = 12
    PCalpha = 0.05
    coupCores = 12
    nGenes = 500
    nCells = 12000

}

process{
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    scratch = true

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load roslin/singularity/3.5.3
    # workaround to make non-sandbox mode work, SGE sets this variable
    # to the root user runtime directory, causing permission issues
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """


    withName: makeData { 
        executor = 'sge'
        cpus = 1
        memory = '96 GB'
        time = '10h'
    }

    withName: estimatePCgraph { 
        executor = 'sge'
        cpus = params.PCcores
        penv = "sharedmem"
        memory = '72 GB'
        time = '28h'
    }

    withName: iterMCMCscheme {
        executor = 'sge'
        cpus = 1
        memory = '8 GB'
        time = '28h'
    }

    withLabel: 'interactionEstimation' {
        executor = 'sge'
        cpus = params.coupCores
        penv = "sharedmem"
        memory = '96 GB'
    }

    withName: estimateCoups_1pts { 
        time = '10h'
    }

    withName: estimateCoups_2pts { 
        time = '48h'
    }

    withName: estimateCoups_3pts { 
        time = '48h'
    }
}

executor {
    queueSize = 30
}

includeConfig 'singularity.config'