
params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"

    nGenes = 15
}



process {


    withName: makeData {
        conda = '/Users/s1855283/anaconda3/envs/NF_TL_env'
    }

    withName: estimatePCgraph {
        conda = '/Users/s1855283/anaconda3/envs/rEnv'
    }

    withName: iterMCMCscheme {
        conda = '/Users/s1855283/anaconda3/envs/rEnv'
    }

    withName: estimateCoups {
        conda = '/Users/s1855283/anaconda3/envs/NF_TL_env'
    }
}