params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"

    nGenes = 10
}

process{
	
	beforeScript = """
    . /etc/profile.d/modules.sh
    module load roslin/singularity/3.5.3
    # workaround to make non-sandbox mode work, SGE sets this variable
    # to the root user runtime directory, causing permission issues
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """

}

includeConfig 'singularity.config'