
params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"

    nGenes = 5
}



process {


    withName: makeData {
        conda = "${launchDir}/envYAMLs/NF_TL_env_eddie.yml"
    }

    withName: estimatePCgraph {
        conda = "${launchDir}/envYAMLs/rEnv_eddie.yml"
    }

    withName: iterMCMCscheme {
        conda = "${launchDir}/envYAMLs/rEnv_eddie.yml"
    }

    withName: estimateCoups {
        conda = "${launchDir}/envYAMLs/NF_TL_env_eddie.yml"
    }
}