
params{
    h5File = "${launchDir}/cellData/1M_neurons_20k.h5"
    clusterFile = "${launchDir}/cellData/clusters_20k.csv"
    doubletFile = "${launchDir}/cellData/bcDoublets_20k.csv"

    nGenes = 5
}



process {


    withName: makeData {
        conda = 'python=3.6 numpy=1.19 scipy matplotlib pandas scanpy scrublet mkl python-igraph'
    }

    withName: estimatePCgraph {
        conda = "${projectDir}/envYAMLs/rEnv.yml"
    }

    withName: iterMCMCscheme {
        conda = "${projectDir}/envYAMLs/rEnv.yml"
    }

    withName: estimateCoups {
        conda = 'python=3.6 numpy=1.19 scipy matplotlib pandas scanpy scrublet mkl python-igraph'
    }
}