process {
    
	withName: makeData {
        container = 'docker://ajnsm/py_nf_container_alpine'
    }

    withName: estimatePCgraph {
        container = 'docker://ajnsm/r_graph_container'
    }

    withName: iterMCMCscheme {
        container = 'docker://ajnsm/r_graph_container'
    }

    withName: estimateCoups {
        container = 'docker://ajnsm/py_nf_container_alpine'
    }
        
}

singularity {
    enabled = true
    pullTimeout = '1h'
}
