
process {
    
    withName: makeData {
        container = 'docker://ajnsm/py_nf_container_new'
    }

    withName: estimatePCgraph {
        container = 'docker://ajnsm/r_nf_container_new'
    }

    withName: iterMCMCscheme {
        container = 'docker://ajnsm/r_nf_container_new'
    }

    withName: estimateCoups_1pts {
        container = 'docker://ajnsm/py_nf_container_new'
    }

    withName: estimateCoups_2pts {
        container = 'docker://ajnsm/py_nf_container_new'
    }

    withName: estimateCoups_3pts {
        container = 'docker://ajnsm/py_nf_container_new'
    }

    withName: estimateCoups_345pts_WithinMB {
        container = 'docker://ajnsm/py_nf_container_new'
    }

    withName: estimateCoups_6n7pts {
        container = 'docker://ajnsm/py_nf_container_new'
    }
        
}

singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '1h'
    envWhitelist = 'SINGULARITY_TMPDIR,TMPDIR'
}