// params {
//     dataType     = "agnostic",
//     rawDataPath  = "/exports/igmm/eddie/ponting-lab/abel/10X_cells/NF_TL/LukeLiverData/fullCounts.csv",
//     clusterFile  = "/exports/igmm/eddie/ponting-lab/abel/10X_cells/NF_TL/LukeLiverData/clusters.csv",
//     userGenes    = "/exports/igmm/eddie/ponting-lab/abel/10X_cells/NF_TL/LukeLiverData/userGenes.csv",
//     doubletFile  = Null,
//     nGenes       = 4,
//     nCells       = 20,
//     clusterArray = [0, 1],
//     PCalpha      = 0.05,
//     bsResamps    = 2000,
//     twoReplicates = false,


//     maxQueueSize   = 25,

//     cores_makeData = 1,
//     cores_PC       = 4,
//     cores_MCMC     = 4,
//     cores_1pt      = 4,
//     cores_2pt      = 4,
//     cores_3pt      = 4,

//     mem_makeData   = "4G",
//     mem_PC         = "4G",
//     mem_MCMC       = "4G",
//     mem_1pt        = "4G",
//     mem_2pt        = "4G",
//     mem_3pt        = "4G",

//     time_makeData  = "1h",
//     time_PC        = "1h",
//     time_MCMC      = "1h",
//     time_1pt       = "1h",
//     time_2pt       = "1h",
//     time_3pt       = "1h"

// }

// includeConfig 'eddie_singularity.config'